@if $grid_type == 'float' {
    .grid {
        &:after {
            zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML += '<div class="ie7-clear"></div>' );
        }
        &.ie7-clear {
            height: 0;
            display: block;
            clear: both;
        }
    }
    .grid-clear {
        &:after {
            zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML += '<div class="ie7-clear"></div>' );
        }
        &.ie7-clear {
            height: 0;
            display: block;
            clear: both;
        }
    }

    @each $grid_breakPoint in $grid_breakPoints {
        @media (max-width: #{map-get($grid_breakPoint, maxWidth)}) {
            .#{map-get($grid_breakPoint, prefix)}-grid-clear {
                &:after {
                    zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML += '<div class="ie7-clear"></div>' );
                }
                &.ie7-clear {
                    height: 0;
                    display: block;
                    clear: both;
                }
            }
        }
    }
}
